<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Protect internal folders
    RewriteRule ^(src|config|vendor|storage|resources|node_modules|docs)/(.*)$ - [F,L,NC]

    # Redirect all other requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>