<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Protect system folders (just in case)
    RedirectMatch 403 ^/(src|config|vendor|storage|resources|node_modules|docs)/.*

    # If file/folder does not exist, route to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
    # RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
